Package: com.skyglow.snd
Name: Skyglow Notifications
Version: 2.0
Architecture: iphoneos-arm
Description: Low power daemon that runs in the background and fetches notifications from a server for all of your apps.
Maintainer: Requis, Preloading
Author: Requis, Preloading
Section: Tweaks
Depiction: https://cydia.skyglow.es/depictions/com.skyglow.snd/depictions/index.html
Depends: firmware (>= 6.0), mobilesubstrate | substitute | ellekit
