Package: com.iptm.libstatusbar
Name: libstatusbar
Version: 3.1.6
Architecture: iphoneos-arm
Description: pwning the statusbar for you, updated by Requis
Maintainer: Requis
Author: phoenix3200, Requis
Section: Development
Tag: role::developer
Depends: mobilesubstrate (>= 0.9.2586), firmware (>= 4.0)
